.container {
background-color: #eee;
margin: 0px 50px 30px 50px; padding: 5px 10px 30px 10px;
border-radius: 25px;}
body {margin-top:33px;}
.content {margin: 10px 0px 10px 0px; padding: 5px; }
.text-center {text-align: center;}
.thumbnail {
margin: 30px; 
padding: 30px; 
background-color:#fff;
border: 0.5px solid light-grey; 
border-radius: 10px;
}
.img-center {
display: block;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
width: 80%;
}