body {
margin-top: 30px;
}

#container {
margin: 10px;
background-color: #eee;
padding: 30px;
border-radius: 25px;
}

.text-center {
text-align: center;
}
.img-center {
display: block;
max-width: 100%;
margin-left: auto;
margin-right: auto;
height: auto;
}
.footer {
margin-left: 10px;
}
.content {
border: 0.5px solid lightgrey;
margin-top: 30px;
padding: 30px;
border-radius: 15px;
background-color: #fff;
}